

.blue {background: #0c63e4}
.green {background: green}
.red {background: red}


/*html * {*/
/*    background-color: black;*/
/*    font-family: Roboto, sans-serif;*/
/*}*/


.wrapper {
    display:flex;
    align-items:center;
    justify-content: space-between;
    outline: gray;

}


input {
    margin: 0 2px 0 2px;
    width: 100%;
    border: none;
    background: whitesmoke;
    padding-left: 50px;
}

.hash-tag-color {
    color: black;
}


.more-dots {
    position: absolute;
    color: white;
    margin-left: -20px;
}

.verified-styling {
    background: black;
    border-radius: 50px;
    color:white;

}

.wd-twitter-blue {background-color: rgb(29, 161, 242);}

.wd-margin-left { margin-left: 16px}

.wd-fg-color-white {color: white;}

.wd-fg-color-grey {color: rgb(110, 118, 125);}

.wd-float-left {
    float: left;
}

.wd-search-bar {
    position: absolute;
    width: 100%;
    max-width: 500px;
    border-radius: 50px;
}

.wd-search-bar2 {
    position: absolute;
    width: 100%;
    max-width: 600px;
    border-radius: 50px;
}

.search-icon {
    position: absolute;
    padding: 5px 5px 5px 5px;
}

.gear-icon {
    position: absolute;
    padding: 0 2px 0 510px;
    color: rgb(29, 161, 242);


}

.wd-explore-setting {
    color: whitesmoke;
    border-width: 0;
    margin-left: 12px;
    font-size: 40px;
    text-decoration: none;
    position: relative;
    bottom: 7px;
}

.wd-nav-tabs {
    padding: 0;
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    padding: 16px;
    float: left;
}

.wd-selected-nav {
    color: #1DA1F2;
    height: auto;
    border-bottom: 3px solid #1DA1F2;
    padding-bottom: 12px;
    padding-left: 0;
}

li a {
    text-decoration: none;
    color: rgb(110, 118, 125);
}


hr {
    border-width: 0;
    height: 1px;
    background-color: rgb(47, 51, 54);
    margin-top: 10px;

}

.wd-tuit-subtext {
    color: #657786;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wd-tuit-options {
    border-width: 0;
    float: right;
}

.wd-tuit-topic {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    border-radius: 50px;
}

.wd-profile-icon {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    float: left;
    margin-top: 10px;
}

.wd-tuit-profile-name {
    font-size: 13px;
    font-family: "Arial Rounded MT Bold", serif;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    word-wrap: break-word;
}

.wd-tuit-posted-date {
    float: left;
    margin-top: 10px;
    padding-left: 10px;
}

.wd-stop-float {
    clear: both;
}

.wd-tuit-media {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    float: right;
    padding-top: 5px;
    margin-right: 16px;
}

.wd-tuit-content-rightmost-third-page {
    width: 70%;
    float: left;
}

.wd-tuit-content-two-third-page {
    width: 30%;
    float: left;
}


